.progress {
    height: 20px; /* Set a uniform height for all progress bars */
    margin-bottom: 10px; /* Adds space between each progress bar */
  }
  
 body {
    background-image: url('../bajajyh.github.io/images/background.jpg');
    background-size: cover;
    background-position: center;
  }
  .profile-img {
    width: 80px;
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover;
    border: 3px solid white; 
    background-color: #f0f0f0; 
    display: block; 
    margin: auto; 
}